body, html {
	height: 100% !important;
	margin: 0px !important;
	font-family: 'Dosis', sans-serif !important;
}

.splash_to_the_face {
    background-image: url("https://imgur.com/YsrNiFJ.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center_fold {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25vh;
    margin-left: -50%;
    width: 100%;
    height: 50vh;
}

.badass_quote {	
    color: #a4aea6;
    background-color: #2d2226;
    line-height: 20%;
	margin: auto;
	width: 75%;
	max-width: 750px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	font-family: ShopScript;
}

.call_to_action {
	width: 75%;
	margin: 10px auto !important;
	color: #a4aea6;
	background-color: #1c1b21;
}